.card-container {
  background-color: #fff;
}

.card-container__dot-title {
  background-color: #9c203f;
}

.swiper-container {
  padding: 11rem 9rem 15rem 0;
}

.swiper-slide{
  text-align: right !important;
}

.swiper-slide img {
  max-width: 100% !important;
  height: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 40%;
  color: #9c203f;
}

.swiper-pagination {
  margin-bottom: 1rem;
}

.swiper-pagination-bullet-active {
  background-color: #9c203f;
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    padding-left: 11rem;
  }
}