.register__title-text {
  color: #9c203f;
}

.register__input {
  background-color: #f4f4f4;
}

.register__input:focus {
  background-color: #fafafa;
}

.register__btn {
  background-color: #9c203f;
}

.register__register-link {
  color: #f25757;
}
