.availability-filter__label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.availability-filter__radio {
  display: none;
}

.availability-filter__radio-checkmark {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: #9c203f 1px solid;
  padding: 2px;
}

.availability-filter__radio-checkmark::after {
  content: "";
  display: none;
}

.availability-filter__radio:checked
  ~ .availability-filter__radio-checkmark::after {
  display: block;
  background-color: #9c203f;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.brand-filter__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.brand-filter__checkbox {
  display: none;
}

.brand-filter__checkmark {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  border: #9c203f 1px solid;
}

.brand-filter__checkmark::after {
  content: "";
  display: none;
}

.brand-filter__checkbox:checked ~ .brand-filter__checkmark::after{
    display: block;
    background-color: #9C203F;
    width: 100%;
    height: 100%;
}
